*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
/* html,body{width: 100%;height: 100%;} */
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.por{
	position: relative;
}
.poa{
	position: absolute;
}
.disn{
	display: none;
}
.disb{
	display: block;
}
img{
	vertical-align: top;
}
em{
	font-style: normal;
}